QMenu ✓
QCheckBox ✓
QRadioButton ✓
QSlider ✓
QGridLayout✓
QBoxLayout

Multiple inheritance
Programmer defined exceptions
Unions
Bit structures
Advanced pre-processor directives
template classes ✓
namespaces ✓
Operator overloading ✓
Abstract classes ✓
Copy constructors (deep , shallow copy) ✓
C++ Object Construction Sequence ✓
Initializer List ✓
C++ References ✓
Pointers ✓
Inheritance ✓
Destructors ✓
Memory management ✓
Header files (inclusion guards) ✓
Arrays and pointers ✓
Friendship ✓
Global variables ✓
Private, Public, Protected ✓
